@media only screen and (max-width: 900px) {
    .new-account-transaction {
        padding-left: 0px !important;
        padding-right: 0px !important;
     }
     .home-tab{
        padding-right: 0px !important;
    }
}

.new-account-transaction {
    padding-left: 9.1%;
    padding-right: 9.1%;
 }
 .home-tab{
    padding-right: 9.1%;
}
.margin{
    margin: auto;
    width: 100%;
}
.box-shadow {
    background-color: #ffffff;
    border-radius: 1rem;
    box-shadow: 0 4px 4px -2px rgba(24, 39, 75, 0.08), 0 2px 4px -2px rgba(24, 39, 75, 0.12);
}
.mat-margin{
    margin-top: 1.5rem;
}

::ng-deep {
    .new-account-transaction {
        
        .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
            background:#ff0000;
          }
        .mat-tab-label.mat-tab-label-active {

            color:#ff0000;
            font-weight: 700;
            font-size: 1rem;
        }
        .mat-tab-label {
            color:#7b7d7e;
            font-weight: 700;
            font-size: 1rem;
        }
        .app-container {
            padding-top: 0px;
        }
    }
}

